<div class='action-buttons'>
  <% if can? :manage, @category %>
    <%= link_to 'Edit', edit_category_path(@category) %>
  <% end %>
  <%= link_to 'Back', categories_path %>
</div>

<div class='details-container'>
  <h2>Category Details</h2>
  <p>
    <strong>Name:</strong>
    <%= @category.name %>
  </p>

  <p>
    <strong>Reports Count:</strong>
    <%= @category.reports.size %>
  </p>

  <p>
    <strong>Reports:</strong>
    <% @category.reports.each do |report| %>
      <span><%= link_to report.title, report %></span>
    <% end %>
  </p>
</div>
