<div class='action-buttons'>
  <%= link_to 'New Report', new_report_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Owner</th>
      <th>Description</th>
      <th>Body</th>
      <th>Location</th>
      <th>Active</th>
      <th>Categories Count</th>
      <th>Images Count</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td>
          <% if report.media.blank? %>
            N / A
          <% else %>
            <%= image_tag report.media.first.attachable.file.url(:thumb) %>
          <% end %>
        </td>
        <td><%= report.user.email %></td>
        <td><%= report.description %></td>
        <td><%= report.body %></td>
        <td><%= report.location %></td>
        <td><%= report.active %></td>
        <td><%= report.categories.size %></td>
        <td><%= report.media.size %></td>
        <td>
          <span><%= link_to 'Show', report %></span>
          <% if can? :manage, report %>
            <span><%= link_to 'Edit', edit_report_path(report) %></span>
            <span>
              <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
