<div class='page-title'>Listing reports</div>
<div class='action-buttons'>
  <%= link_to 'New Report', new_report_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Body</th>
      <th>Location</th>
      <th>Active</th>
      <th>Categories Count</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= report.description %></td>
        <td><%= report.body %></td>
        <td><%= report.location %></td>
        <td><%= report.active %></td>
        <td><%= report.categories.size %></td>
        <td>
          <span><%= link_to 'Show', report %></span>
          <span><%= link_to 'Edit', edit_report_path(report) %></span>
          <span><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
