<div class='action-buttons'>
  <% if can? :manage, @report %>
    <%= link_to 'Edit', edit_report_path(@report) %>
  <% end %>
  <%= link_to 'Back', reports_path %>
</div>

<div class='details-container'>
  <div class='title'>
    <%= @report.title %>
  </div>
  <div class='description'>
    <%= @report.description %>
  </div>
  <ul class='gallery'>
    <% @report.media.each do |medium| %>
      <% size_attr = medium.attachable_type == 'Video' ? '?width=1024&height=768' : '' %>
      <li>
        <%= link_to image_tag(medium.attachable.file.url(:thumb), alt: medium.label),
                    medium.attachable.file.url(:medium) + size_attr,
                    rel: 'prettyPhoto[mixed]',
                    title: medium.label %>
      </li>
    <% end %>
  </ul>
  <div class='rating'>
    <% if user_signed_in? %>
      <div id='rate_it' class='rateit'
           data-rateit-value='<%= @report.rating %>'
           data-rateit-ispreset='true'
           data-report-id='<%= @report.id %>'></div>
    <% else %>
      <div class='rateit' data-rateit-value='<%= @report.rating %>'
           data-rateit-ispreset='true' data-rateit-readonly='true'></div>
    <% end %>
  </div>
  <div class='location'>
    <%= @report.location %>
  </div>
  <div class='categories'>
    <% @report.categories.each do |category| %>
      <%= link_to category.name, category %>
    <% end %>
  </div>
  <div class='body'>
    <%= @report.body %>
  </div>
  <div class='actions'>
    <% if can? :manage, @report %>
      <span><%= link_to 'Edit', edit_report_path(@report) %></span>
      <span>
        <%= link_to 'Destroy', @report, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    <% end %>
  </div>
<div>

<div class='fb-like' data-href='<%= report_url(@report) %>'
   data-layout='standard' data-action='like'
   data-show-faces='true' data-share='true'></div>

