<!DOCTYPE html>
<html>
<head>
  <title>Reporter</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class='reporter-application'>
<div class='fog'><span></span></div>
<header>
  <nav>
    <%= link_to 'Reports', reports_path %>
    <%= link_to 'Categories', categories_path %>
    <% if user_signed_in? %>
      <%= link_to 'Profile', current_user %>

      <% if current_user.admin? %>
        <%= link_to 'Administration', '/admin' %>
      <% end %>

      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path, method: :get %>
      <%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook) %>
    <% end %>
  </nav>
  <% if user_signed_in? %>
    <span class='user-info'><%= link_to current_user.email, current_user %></span>
  <% end %>
</header>
<div id='fb-root'></div>
<p id='notice'><%= notice %></p>
<p id='alert'><%= alert %></p>

<%= yield %>

</body>
</html>
